<h2>User Index</h2>
  <% @customer.each do |user| %>
  <table>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><%= user.name%></td>
      </tr>
    </tbody>
  </table>