<div class="container">
  <div class="row-10 offset-1">
    <h2>Following</h2>
    <% if @users.exists? %>
      <%= render 'customer/users/index',customers: @users %>
    <% else %>
     <p>ユーザーはいません</p>
    <% end %>
  </div>
</div>