<div class="main"style="position: relative;">
  <%= image_tag 'img_top.jpg', {class:"card-img", style:"width: 100%; height: 100%;"} %>
  <div class="card-img-overlay dflex">
      <div class="card" style="dflex; justify-content: center;position: absolute; top:45%; right:50%;">
        <h1 class="card-body">Hobby Life</h1>
        <p>Hobbyで日々の生活をもっと豊かに</p>
        <%= link_to "Log in",new_customer_session_path,class:"btn my-1 mx-2 btn-info btn-sm"%>
        <%= link_to "Sign up",new_customer_registration_path,class:"btn my-1 mx-2 btn-primary btn-sm"%>
      </div>
    </div>
  </div>
</div>