<div class="card text-center my-5">
  <h3>Hobby一覧</h3>
  <table>
    <% hobbies.each do |hobby| %>
    <tr>
    <td><%= hobby.name %></td>
    <td><%= link_to "edit",edit_customer_hobby_path(hobby),class:'btn btn-danger btn-sm'%></td>
    </tr>
    <% end %>
  </table>
</div>