<div class="container">
  <div class="row-10 offset-1">
    <h2>Hobby Edit</h2>
    <%= form_with model:@hobby,url:hobby_path(@hobby) do |f|%>
      <%= f.text_field :name %>
      <%= f.submit "update"%>
    <% end %>
  </div>
</div>