<h2>Show</h2>
  <table>
    <tr>
      <th>image</th>
      <td><%= image_tag@post.get_image(100,100)%></td>
    </tr>
    <tr>
      <th>title</th>
      <td><%= @post.title%></td>
    </tr>
    <tr>
      <th>body</th>
      <td><%= @post.body%></td>
    </tr>
    <tr>
      <th></th>
      <td><%= render 'customer/favorites/favorite',post: @post %></td>
    </tr>
  </table>