<h2>Show</h2>
  <table>
    <tr>
      <th>image</th>
      <td><%= image_tag@post.get_image%></td>
    </tr>
    <tr>
      <th>title</th>
      <td><%= @post.title%></td>
    </tr>
    <tr>
      <th>body</th>
      <td><%= @post.body%></td>
    </tr>
  </table>